def functionname(parameters):
    st1
    st2
    st3
    return

In [1]:
def greet(name):
    print('hello ' + name + ' Good morning')

In [2]:
greet('sachin')

hello sachin Good morning

In [3]:
def add(x,y):
    return x+y

In [5]:
a = add(7,8)

In [6]:
a

15

In [7]:
u = greet('ajay')

hello ajay Good morning

In [11]:
print(u)

None

In [12]:
def greeting(name):
    print('hello to this world mr/mrs {}'.format(name))
    return 'kuch bhi'
    print('iska koi mtlb nahi hai')

In [14]:
u = greeting('kushal')

hello to this world mr/mrs kushal

In [15]:
print(u)

kuch bhi

In [18]:
add('sacin','python')

'sacinpython'

In [19]:
add([1,2,3,4,5,6],[6,5,4,3,3,2])

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 3, 2]

In [20]:
def star(num):
    for var in range(num+1):
        print('*'*var)

In [21]:
star(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
c = 65
for var in range(8):
    for tar in range(1,var+1):
        print(chr(c),end='')
        c += 1
        if c == 91:
            break
    print()

A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZ

In [34]:
a = 5
def func(x):
    global a
    a = 10 
    return a+a

In [35]:
func(5)

20

In [36]:
print(a)

10

In [45]:
def f(num):
    global n
    s = sum(num)
    n = len(num)
    return s

In [46]:
t= f([1,2,3,4,5,5,6])

In [47]:
t

26

In [49]:
round(t/n,2)

3.71

In [50]:
a = ['ajay','sachin','nikhil','nidhi','ajay','ajay','sachin','nidhi']

In [51]:
a

['ajay', 'sachin', 'nikhil', 'nidhi', 'ajay', 'ajay', 'sachin', 'nidhi']

In [52]:
list(set(a))

['nidhi', 'nikhil', 'ajay', 'sachin']

In [53]:
b = []

In [54]:
for var in a:
    if var not in b:
        b.append(var)

In [55]:
b

['ajay', 'sachin', 'nikhil', 'nidhi']

In [59]:
def fact(nums):
    r = 1
    for var in nums:
        r = r*var
    return r

In [60]:
fact([1,2,3,4,5])

120

In [61]:
def square(nums):
    r = 1
    for var in nums:
        r = r * var
        yield r

In [63]:
q = square([5,4,3,2,1])

In [64]:
q

In [65]:
for var in q:
    print(var)

5
20
60
120
120

In [77]:
w = square([9,8,7,6,5,4,3,2,1])

In [75]:
w

In [68]:
a

['ajay', 'sachin', 'nikhil', 'nidhi', 'ajay', 'ajay', 'sachin', 'nidhi']

In [69]:
print(*a)

ajay sachin nikhil nidhi ajay ajay sachin nidhi

In [70]:
for var in a:
    print(var,end=' ')

ajay sachin nikhil nidhi ajay ajay sachin nidhi

In [71]:
w

In [76]:
print(*w,sep='\n')

9
72
504
3024
15120
60480
181440
362880
362880

In [78]:
next(w)

9

In [79]:
next(w)

72

In [80]:
next(w)

504

In [82]:
next(w)

3024

In [83]:
next(w)

15120

In [84]:
next(w)

60480

In [85]:
next(w)

181440

In [86]:
next(w)

362880

In [87]:
next(w)

362880

In [88]:
next(w)

StopIteration:

In [96]:
def add_sub(x,y):
    r = x+y
    b = x-y
    return r,b

In [97]:
add_sub(9,8)

(17, 1)

In [98]:
r,t = add_sub(7,6)

In [99]:
r

13

In [100]:
t

1

In [90]:
def ucount(values):
    b = []
    for var in values:
        if var not in b:
            b.append(var)
    return b

In [91]:
ucount(a)

['ajay', 'sachin', 'nikhil', 'nidhi']

In [2]:
def count(seq,item):
    lettercount = 0 
    for var in seq:
        if var == item:
            lettercount += 1
    return lettercount

In [3]:
count('banana','n')

2

In [6]:
def ncount(seq,item):
    lettercount = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            lettercount += 1
        else:
            print(' ',end='')
    return lettercount

In [7]:
ncount('banana','a')

banana
 ^ ^ ^

3

In [14]:
b = []
c = [1,2,3,3,4,5,5,5,6,7,8]
for var in c:
    if var not in b:
        b.append(var)

In [15]:
b

[1, 2, 3, 4, 5, 6, 7, 8]

# Types of argument

* positional argument
* default argument
* variable length argument
* kwargs argument

In [16]:
def add(x,y):
    return x+y

In [18]:
add(5,6,8)

TypeError: add() takes 2 positional arguments but 3 were given

In [21]:
#positional 
def add(a,b=0,c=0): #default argument
    return a + b + c

In [22]:
add(4,5,6)

15

In [23]:
add(4,5)

9

In [24]:
add(c=9,b=8,a=9)

26

In [25]:
add(c=9,b=8)

TypeError: add() missing 1 required positional argument: 'a'

In [26]:
def adding(a=0,b=0,c=0):
    return a+b+c

In [27]:
adding(a=8,c=9)

17

In [28]:
def mysum(*args):
    r = 0
    for var in args:
        r= r+var
    return r

In [29]:
mysum(3,4,5,6,7,5,67,6,5,9)

117

In [30]:
mysum(3,4)

7

In [31]:
mysum(4,5,6,4,6,6,6,4,4,6)

51

In [13]:
# default arguments
def add(a,b=0,c=0):  #positional argument
    return a+b+c

r = add(1,2,3)
print('The addtion of given number is {}'.format(r))

The addtion of given number is 6

In [2]:
add(1,2)

3

In [3]:
add(c=9,b=2,a=9)

20

In [5]:
add(c=8,b=4,4)

SyntaxError: positional argument follows keyword argument (<ipython-input-5-c2d68f73a25a>, line 1)

In [6]:
add(4,b=8,c=9)

21

In [7]:
def mul(a=1,b=1,c=1):
    return a*b*c

In [11]:
mul(b=5,c=6)

30

In [14]:
sum([1,2,3,4,5,6])

21

In [15]:
a= ['ajay','sachin','nnikhil','kaushal']
print(a)
print(*a)

['ajay', 'sachin', 'nnikhil', 'kaushal']
ajay sachin nnikhil kaushal

In [16]:
# variable length arguments
def mysum(*args):
    r = 0
    for var in args:
        r = r +var
    return r

In [17]:
mysum(1,2,3,4,5,6,8,9,10)

48

In [18]:
mysum(1,2,3,4,5)

15

In [20]:
mysum(1,2)

3

In [21]:
#kwargs

In [22]:
a = {'name':'nikhil','kaam':'linux','grras':'aws'}

In [25]:
def prindict(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}=={value}')

In [28]:
prindict(**a)

name==nikhil
kaam==linux
grras==aws

In [29]:
prindict(name='ajay',grras='python',linux='aws')

name==ajay
grras==python
linux==aws

In [36]:
def myfunc(arg,*args,**kwargs):
    print('this is first argument ',arg)
    for var in args:
        print('this is next arguments ',var)
    for key,value in kwargs.items():
        print(key,value,sep=' ** ')

In [38]:
myfunc('python','welcome','to','grras','ajay','nikhil','rajesh','mahesh','nikhil',name='rajvendra',grras='python')

this is first argument  python
this is next arguments  welcome
this is next arguments  to
this is next arguments  grras
this is next arguments  ajay
this is next arguments  nikhil
this is next arguments  rajesh
this is next arguments  mahesh
this is next arguments  nikhil
name ** rajvendra
grras ** python

# lambda function in python

In [39]:
x = lambda a : a*a

In [40]:
x(8)

64

In [41]:
add = lambda x,y : x+y

In [42]:
add(4,5)

9

In [43]:
add(4,5,6)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [49]:
great = lambda x,y : (x,' is greater') if x >= y else (y,' is greater')

In [50]:
great(5,6)

(6, ' is greater')

In [51]:
great(18,9)

(18, ' is greater')

In [52]:
greatest = lambda x,y,z : 'x is greater' if x >=y and x >=z \
            else ('y is greater' if y>=z else 'z is greater')

In [53]:
greatest(9,8,7)

'x is greater'

In [56]:
_ = lambda x,y : x+y

In [57]:
_(1,2)

3

In [58]:
import random

In [59]:
rand = [random.randint(1,500) for var in range(500)]
print(len(rand))

500

In [60]:
print(rand)

[445, 67, 397, 369, 372, 416, 82, 392, 23, 417, 488, 246, 479, 151, 481, 201, 423, 86, 331, 494, 145, 285, 69, 390, 358, 374, 55, 468, 300, 374, 223, 57, 265, 88, 201, 472, 288, 379, 403, 12, 170, 138, 51, 58, 22, 201, 196, 329, 255, 489, 300, 93, 22, 104, 467, 467, 1, 417, 103, 220, 201, 349, 409, 476, 384, 135, 91, 452, 332, 409, 255, 47, 11, 97, 364, 179, 165, 440, 292, 342, 78, 488, 437, 90, 224, 302, 425, 465, 202, 193, 446, 221, 176, 268, 428, 116, 212, 38, 394, 349, 359, 39, 292, 37, 308, 470, 50, 172, 38, 129, 23, 330, 348, 298, 100, 426, 261, 365, 286, 196, 305, 234, 270, 232, 443, 202, 388, 74, 294, 339, 428, 3, 102, 133, 435, 443, 137, 383, 123, 222, 312, 292, 334, 259, 385, 408, 448, 36, 82, 262, 270, 445, 319, 390, 359, 156, 335, 405, 51, 170, 337, 167, 405, 63, 77, 1, 72, 121, 207, 217, 425, 97, 144, 161, 58, 356, 40, 467, 153, 235, 398, 443, 23, 330, 428, 281, 205, 296, 432, 390, 187, 327, 287, 212, 49, 59, 110, 364, 269, 7, 98, 336, 307, 399, 441, 472, 484, 366, 451, 104, 460, 197, 225, 131, 467, 80, 56, 130, 458, 155, 383, 358, 485, 412, 308, 361, 443, 481, 413, 203, 404, 361, 79, 209, 369, 457, 107, 113, 352, 153, 156, 492, 281, 144, 288, 166, 376, 180, 135, 247, 27, 414, 84, 308, 102, 86, 252, 112, 365, 83, 154, 349, 186, 342, 459, 395, 267, 432, 276, 212, 304, 185, 396, 163, 130, 302, 154, 192, 156, 447, 85, 171, 73, 347, 172, 306, 337, 453, 66, 485, 202, 232, 118, 169, 37, 245, 17, 174, 491, 256, 234, 450, 137, 162, 43, 2, 211, 314, 128, 253, 406, 192, 396, 397, 191, 308, 125, 384, 355, 50, 437, 399, 115, 189, 113, 3, 173, 159, 135, 99, 28, 17, 261, 85, 167, 427, 472, 147, 130, 44, 395, 488, 199, 139, 113, 142, 247, 289, 226, 400, 447, 91, 24, 274, 191, 117, 168, 481, 200, 74, 390, 198, 463, 276, 374, 316, 290, 368, 55, 180, 88, 88, 224, 470, 261, 133, 66, 20, 178, 28, 356, 136, 487, 382, 497, 476, 62, 332, 350, 250, 54, 289, 198, 114, 363, 153, 22, 351, 487, 470, 305, 467, 241, 482, 366, 111, 313, 244, 79, 464, 411, 128, 412, 310, 157, 412, 12, 467, 161, 65, 35, 356, 478, 19, 418, 220, 100, 281, 206, 339, 494, 178, 356, 84, 361, 454, 209, 204, 239, 429, 465, 220, 49, 349, 96, 361, 270, 290, 148, 93, 286, 43, 387, 270, 262, 105, 62, 367, 370, 398, 381, 280, 185, 391, 192, 140, 401, 435, 189, 216, 258, 389, 254, 333, 247, 165, 259, 175, 414, 315, 272, 305, 184, 305, 361, 458, 323, 445, 392, 227, 412, 139, 9, 253, 380, 249, 223, 25, 52, 130]

In [62]:
even = list(filter(lambda x : x % 2==0 ,rand))
print(even)

[372, 416, 82, 392, 488, 246, 86, 494, 390, 358, 374, 468, 300, 374, 88, 472, 288, 12, 170, 138, 58, 22, 196, 300, 22, 104, 220, 476, 384, 452, 332, 364, 440, 292, 342, 78, 488, 90, 224, 302, 202, 446, 176, 268, 428, 116, 212, 38, 394, 292, 308, 470, 50, 172, 38, 330, 348, 298, 100, 426, 286, 196, 234, 270, 232, 202, 388, 74, 294, 428, 102, 222, 312, 292, 334, 408, 448, 36, 82, 262, 270, 390, 156, 170, 72, 144, 58, 356, 40, 398, 330, 428, 296, 432, 390, 212, 110, 364, 98, 336, 472, 484, 366, 104, 460, 80, 56, 130, 458, 358, 412, 308, 404, 352, 156, 492, 144, 288, 166, 376, 180, 414, 84, 308, 102, 86, 252, 112, 154, 186, 342, 432, 276, 212, 304, 396, 130, 302, 154, 192, 156, 172, 306, 66, 202, 232, 118, 174, 256, 234, 450, 162, 2, 314, 128, 406, 192, 396, 308, 384, 50, 28, 472, 130, 44, 488, 142, 226, 400, 24, 274, 168, 200, 74, 390, 198, 276, 374, 316, 290, 368, 180, 88, 88, 224, 470, 66, 20, 178, 28, 356, 136, 382, 476, 62, 332, 350, 250, 54, 198, 114, 22, 470, 482, 366, 244, 464, 128, 412, 310, 412, 12, 356, 478, 418, 220, 100, 206, 494, 178, 356, 84, 454, 204, 220, 96, 270, 290, 148, 286, 270, 262, 62, 370, 398, 280, 192, 140, 216, 258, 254, 414, 272, 184, 458, 392, 412, 380, 52, 130]

In [63]:
e = list(filter(lambda x : x%2==0,range(1,101)))
print(e)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [64]:
print(rand)
print()
print(even)
print()
print(e)

[445, 67, 397, 369, 372, 416, 82, 392, 23, 417, 488, 246, 479, 151, 481, 201, 423, 86, 331, 494, 145, 285, 69, 390, 358, 374, 55, 468, 300, 374, 223, 57, 265, 88, 201, 472, 288, 379, 403, 12, 170, 138, 51, 58, 22, 201, 196, 329, 255, 489, 300, 93, 22, 104, 467, 467, 1, 417, 103, 220, 201, 349, 409, 476, 384, 135, 91, 452, 332, 409, 255, 47, 11, 97, 364, 179, 165, 440, 292, 342, 78, 488, 437, 90, 224, 302, 425, 465, 202, 193, 446, 221, 176, 268, 428, 116, 212, 38, 394, 349, 359, 39, 292, 37, 308, 470, 50, 172, 38, 129, 23, 330, 348, 298, 100, 426, 261, 365, 286, 196, 305, 234, 270, 232, 443, 202, 388, 74, 294, 339, 428, 3, 102, 133, 435, 443, 137, 383, 123, 222, 312, 292, 334, 259, 385, 408, 448, 36, 82, 262, 270, 445, 319, 390, 359, 156, 335, 405, 51, 170, 337, 167, 405, 63, 77, 1, 72, 121, 207, 217, 425, 97, 144, 161, 58, 356, 40, 467, 153, 235, 398, 443, 23, 330, 428, 281, 205, 296, 432, 390, 187, 327, 287, 212, 49, 59, 110, 364, 269, 7, 98, 336, 307, 399, 441, 472, 484, 366, 451, 104, 460, 197, 225, 131, 467, 80, 56, 130, 458, 155, 383, 358, 485, 412, 308, 361, 443, 481, 413, 203, 404, 361, 79, 209, 369, 457, 107, 113, 352, 153, 156, 492, 281, 144, 288, 166, 376, 180, 135, 247, 27, 414, 84, 308, 102, 86, 252, 112, 365, 83, 154, 349, 186, 342, 459, 395, 267, 432, 276, 212, 304, 185, 396, 163, 130, 302, 154, 192, 156, 447, 85, 171, 73, 347, 172, 306, 337, 453, 66, 485, 202, 232, 118, 169, 37, 245, 17, 174, 491, 256, 234, 450, 137, 162, 43, 2, 211, 314, 128, 253, 406, 192, 396, 397, 191, 308, 125, 384, 355, 50, 437, 399, 115, 189, 113, 3, 173, 159, 135, 99, 28, 17, 261, 85, 167, 427, 472, 147, 130, 44, 395, 488, 199, 139, 113, 142, 247, 289, 226, 400, 447, 91, 24, 274, 191, 117, 168, 481, 200, 74, 390, 198, 463, 276, 374, 316, 290, 368, 55, 180, 88, 88, 224, 470, 261, 133, 66, 20, 178, 28, 356, 136, 487, 382, 497, 476, 62, 332, 350, 250, 54, 289, 198, 114, 363, 153, 22, 351, 487, 470, 305, 467, 241, 482, 366, 111, 313, 244, 79, 464, 411, 128, 412, 310, 157, 412, 12, 467, 161, 65, 35, 356, 478, 19, 418, 220, 100, 281, 206, 339, 494, 178, 356, 84, 361, 454, 209, 204, 239, 429, 465, 220, 49, 349, 96, 361, 270, 290, 148, 93, 286, 43, 387, 270, 262, 105, 62, 367, 370, 398, 381, 280, 185, 391, 192, 140, 401, 435, 189, 216, 258, 389, 254, 333, 247, 165, 259, 175, 414, 315, 272, 305, 184, 305, 361, 458, 323, 445, 392, 227, 412, 139, 9, 253, 380, 249, 223, 25, 52, 130]

[372, 416, 82, 392, 488, 246, 86, 494, 390, 358, 374, 468, 300, 374, 88, 472, 288, 12, 170, 138, 58, 22, 196, 300, 22, 104, 220, 476, 384, 452, 332, 364, 440, 292, 342, 78, 488, 90, 224, 302, 202, 446, 176, 268, 428, 116, 212, 38, 394, 292, 308, 470, 50, 172, 38, 330, 348, 298, 100, 426, 286, 196, 234, 270, 232, 202, 388, 74, 294, 428, 102, 222, 312, 292, 334, 408, 448, 36, 82, 262, 270, 390, 156, 170, 72, 144, 58, 356, 40, 398, 330, 428, 296, 432, 390, 212, 110, 364, 98, 336, 472, 484, 366, 104, 460, 80, 56, 130, 458, 358, 412, 308, 404, 352, 156, 492, 144, 288, 166, 376, 180, 414, 84, 308, 102, 86, 252, 112, 154, 186, 342, 432, 276, 212, 304, 396, 130, 302, 154, 192, 156, 172, 306, 66, 202, 232, 118, 174, 256, 234, 450, 162, 2, 314, 128, 406, 192, 396, 308, 384, 50, 28, 472, 130, 44, 488, 142, 226, 400, 24, 274, 168, 200, 74, 390, 198, 276, 374, 316, 290, 368, 180, 88, 88, 224, 470, 66, 20, 178, 28, 356, 136, 382, 476, 62, 332, 350, 250, 54, 198, 114, 22, 470, 482, 366, 244, 464, 128, 412, 310, 412, 12, 356, 478, 418, 220, 100, 206, 494, 178, 356, 84, 454, 204, 220, 96, 270, 290, 148, 286, 270, 262, 62, 370, 398, 280, 192, 140, 216, 258, 254, 414, 272, 184, 458, 392, 412, 380, 52, 130]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [65]:
print(len(even))

250

In [70]:
a = list(map(lambda x : x**2,range(1,11)))

In [71]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
b = list(map(lambda x : x**2,a))
print(b)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [74]:
lis = list(map(int,input().split()))
print(lis)

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
u = list(map(int,input('enter a comma sep values').split(',')))

enter a comma sep values1,2,3,4,5,6,7,8,9

In [77]:
u

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
sq = list(map(lambda x : x**2,map(int,input().split())))
print(sq)

1 2 3 4 5 6 7
[1, 4, 9, 16, 25, 36, 49]

In [81]:
from functools import reduce

In [82]:
mys = reduce(lambda x,y: x+y,sq)
print(mys)

140

In [84]:
mul = reduce(lambda x,y : x*y,map(int,input().split()))
print(mul)

1 2 3 4 5 6 7 8 9 10
3628800

In [85]:
import functools

In [87]:
t = reduce(lambda x,y : x+y ,sq)

In [88]:
t

140