In [1]:
#first program
print('hello world')

hello world

In [2]:
for var in range(10):
    print('hello world',var)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

# BASIC DATA TYPES OF PYTHON

<h1 style='color:yellow'>BASICS OF PYTHON<h1>

<ol style='color:blue'>
    <li>NUMBERS --> INT , FLOAT , COMPLEX </li>
    <li>STRING --> 'WELCOME TO THE WORLD OF PYTHON'</li>
    <li>LIST --> ['ITEM1','ITEM2','ITEM3']</li> #collection of items and it is immutable
    <li>TUPPLE --> ('same','as','list','but','mutable')</li> # mutable 
    <li>DICTIONARY --> {1: 'AJAY','A':'PYTHON'},/li> #collection of key and values pair
    <li>SET --> {1,2,3,4,5,6} <li> #it will gives you unique values 
</ol>

In [3]:
x = 5 
y = 6
print(x)
print(y)
print('type of x =',type(x))
print('type of y =',type(y))

5
6
type of x = <class 'int'>
type of y = <class 'int'>

In [4]:
x = 5.5 
y = 5.4
z = 3.0
print(x,y,z,sep='\n')
print('type of x : ',type(x))
print('type of y : ',type(y))
print('type of z : ',type(z))

5.5
5.4
3.0
type of x :  <class 'float'>
type of y :  <class 'float'>
type of z :  <class 'float'>

In [5]:
a = 5
b = 5.5
c = 5.3+7j
print(a,b,c,sep='\n')
print('type of a : ',type(a))
print('type of b : ',type(b))
print('type of c : ',type(c))

5
5.5
(5.3+7j)
type of a :  <class 'int'>
type of b :  <class 'float'>
type of c :  <class 'complex'>

In [6]:
print(a)

5

In [7]:
print(b)

5.5

In [8]:
print(a,b,sep='\n\n\n')

5


5.5

In [9]:
x = 5
y = 6 
z = 7
t = x+y+z
print('the sum of x+y+z ',t)
print(type(t))

the sum of x+y+z  18
<class 'int'>

In [10]:
a = 5
b = 5.5
s = a+b
print('the sum of a and b :',s)
print(type(a))
print(type(b))
print(type(s))

the sum of a and b : 10.5
<class 'int'>
<class 'float'>
<class 'float'>

In [11]:
a = 5
b = 3.3+4j
s  = a+b
print('sum is ',s)
print('type of a',type(a))
print('type of b',type(b))
print('type of s ',type(s))

sum is  (8.3+4j)
type of a <class 'int'>
type of b <class 'complex'>
type of s  <class 'complex'>

In [12]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

In [1]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
a = 5

In [3]:
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [6]:
print(type(a))
print(type(5))

<class 'int'>
<class 'int'>

In [7]:
5 + 5

10

In [8]:
5 * 5

25

In [9]:
a = 5
b = 5.6
c = 5.5+8j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [10]:
a.bit_length()

3

In [11]:
x = 10
x.bit_length()

4

In [13]:
c.conjugate()

(5.5-8j)

In [14]:
c.real

5.5

In [15]:
c.imag

8.0

In [16]:
a.denominator

1

In [17]:
a.numerator

5

In [27]:
t = 5
t**2

25

In [34]:
5//7

0

# Strings in python

In [20]:
a = 'python'
b = ' is awsome'
c = a+b 
print(c,type(c),sep='\t')
print(type(a))
print(type(b))

python is awsome	<class 'str'>
<class 'str'>
<class 'str'>

In [22]:
x = 'Python is awosme is, He said'
print(x)
print(type(x))

Python is awosme is, He said
<class 'str'>

In [23]:
#concatenation of string
'python is very good for' + ' mental exercise'

'python is very good for mental exercise'

In [25]:
#multiplication of string
a = 'hello '*5
print(len(a))

30

In [1]:
a = " uncles's"
b = 'uncles"s'
c = 'uncle\'s'  # here backslash is know as escape sequence
d = " uncle\"s"
print(a,b,c,d,sep='\n')

 uncles's
uncles"s
uncle's
 uncle"s

In [2]:
a

" uncles's"

In [3]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [8]:
a = 'python Is Teach In a Grras'
a

'python Is Teach In a Grras'

In [9]:
a.capitalize()

'Python is teach in a grras'

In [10]:
'hello world'.casefold() == 'HELLO WORLD'.casefold()

True

In [11]:
'hello world' == 'HELLO WORLD'

False

In [18]:
b = 'My Name Is Khan'
c = b.center(90,'*')
print(len(b))
print(c)
print(len(c))

15
*************************************My Name Is Khan**************************************
90

In [21]:
a.count('python')

1

In [22]:
n = 'atal ji was very good person and he has good knowlege of politics and he is very generous and kind person'

In [23]:
n

'atal ji was very good person and he has good knowlege of politics and he is very generous and kind person'

In [24]:
a = n.count('a')
e = n.count('e')
i = n.count('i')
o = n.count('o')
u = n.count('u')
print('a = ',a)
print('e = ',e)
print('i = ',i)
print('o = ',o)
print('u = ',u)
print('The total vowels in our string : ',a+e+i+o+u)

a =  7
e =  10
i =  5
o =  10
u =  1
The total vowels in our string :  33

In [31]:
m = n.encode('ascii')
print(type(n))
print(type(m))

<class 'str'>
<class 'bytes'>

In [34]:
print(n)
print()
print(n.endswith('n'))
print()
print(n.endswith('d'))

atal ji was very good person and he has good knowlege of politics and he is very generous and kind person

True

False

In [37]:
j = 'python\thoney\tvijay\t'
print(j)
print(j.expandtabs(20))

python	honey	vijay
python              honey               vijay

In [39]:
n.find('he')

33

In [43]:
n.find('he',34)

70

In [50]:
n[33:40]

'he has '

In [52]:
name = input('Enter your name :')
prof = input('Enter your proffesion : ')
c = "Your name is {} and your proffesion is {}".format(name,prof)
print(c)

Enter your name :ajay
Enter your proffesion : python
Your name is ajay and your proffesion is python

In [53]:
name = input('Enter your name :')
prof = input('Enter your proffesion : ')
c = f"Your name is {name} and your proffesion is {prof}"
print(c)

Enter your name :shyam
Enter your proffesion : banssi
Your name is shyam and your proffesion is banssi

In [55]:
name = input('Enter your name :')
prof = input('Enter your proffesion : ')
c = "Your name is {1} and your proffesion is {0}".format(prof,name)
print(c)

Enter your name :ajay
Enter your proffesion : python
Your name is ajay and your proffesion is python

In [57]:
n.index('he')  #same as find

33

In [60]:
a = 'python123'
a.isalnum()

True

In [61]:
a.isalpha()

False

In [62]:
a.isdecimal()

False

In [63]:
b='1234'
b.isdecimal()

True

In [64]:
a.isdigit()

False

In [65]:
b.isdigit()

True

In [66]:
a.isidentifier()

True

In [67]:
a.islower()

True

In [69]:
c = 'HELLO WORLD'
c.islower()

False

In [70]:
b.isnumeric()

True

In [71]:
a.istitle()

False

In [72]:
a.title()

'Python123'

In [76]:
L = n.title()

In [77]:
L.istitle()

True

In [1]:
a = 'bharat \t mata \t ki \t jai'
a

'bharat \t mata \t ki \t jai'

In [2]:
print(a)

bharat 	 mata 	 ki 	 jai

In [3]:
print(a.expandtabs(20))

bharat               mata                ki                  jai

In [4]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
a.isalnum()

False

In [6]:
b = 'helo123'
b.isalnum()

True

In [8]:
b.isidentifier()

True

In [9]:
b.islower()

True

In [10]:
b.isupper()

False

In [11]:
b.istitle()

False

In [12]:
b = 'Hello World In Python'
b.istitle()

True

In [14]:
a.title()

'Bharat \t Mata \t Ki \t Jai'

In [16]:
b.lower()

'hello world in python'

In [25]:
c = b.split()
c

['Hello', 'World', 'In', 'Python']

In [27]:
" ".join(c)

'Hello World In Python'

In [31]:
f = b.rjust(90)
f

'                                                                     Hello World In Python'

In [32]:
f.rjust(90)

'                                                                     Hello World In Python'

In [33]:
f

'                                                                     Hello World In Python'

In [36]:
t = input()
print('{!r}'.format(t))
print()
print('{!r}'.format(t.lstrip()))
print()
print('{!r}'.format(t.rstrip()))
print()
print('{!r}'.format(t.strip()))

              python
'              python               '

'python               '

'              python'

'python'

In [37]:
t

'              python               '

In [38]:
print(t)

              python

In [40]:
i = 'python is very awosme language'
o = i.replace(" ","_")
print(i)
print(o)

python is very awosme language
python_is_very_awosme_language

In [44]:
para  = """python 
                the world of programming lang
                this is awsome
                ugly is better than complex"""

In [47]:
print(para)

python
                the world of programming lang
                this is awsome
                ugly is better than complex

In [49]:
para.splitlines()

['python ',
 '                the world of programming lang',
 '                this is awsome',
 '                ugly is better than complex']

In [52]:
b.swapcase()

'hELLO wORLD iN pYTHON'

In [53]:
p = 'wello horld'

In [68]:
st = 'wh'
st1 = 'hw'
st2 = ' '
table = p.maketrans(st,st1,st2)
table

{119: 104, 104: 119, 32: None}

In [70]:
p.translate(table)

'helloworld'

In [66]:
p.startswith('wello')

True

In [72]:
string = 'python is awsome'
string.partition('is')

('python ', 'is', ' awsome')

In [73]:
p = 'wello horld'

In [77]:
st  = 'wh' #word to chnge
st1 = 'hw' #word 
#st2 = ' '
table = p.maketrans(st,st1)
table

{119: 104, 104: 119}

In [78]:
p.translate(table)

'hello world'

In [87]:
t = 'ajay with ajay'

In [88]:
t.rfind('ajay')

10

In [91]:
a = 'ajay for ajay for'

In [93]:
a.rfind('for') #recursive find

14

In [94]:
a

'ajay for ajay for'

In [97]:
a.partition('ajay')

('', 'ajay', ' for ajay for')

In [115]:
a = {'a':"geeksforgeeks",'y':"yadav"}
print("{} {}".format_map(a))

ValueError: Format string contains positional fields

In [122]:
a = {'x':"geeksforgeeks",
     'y':'b'} 
  
# Use of format_map() function 
print('{x} {y}'.format_map(a))

geeksforgeeks b

In [123]:
print(type(a))

<class 'dict'>

In [125]:
b = {'x':"geeks for geeks",
     'y':'b'}

print('{x} {y}'.format_map(b))

geeks for geeks b

# SLICING IN PYTHON

In [3]:
a = 'hello world'

In [4]:
a[0]

'h'

In [5]:
a[-1]

'd'

In [7]:
a[-10:-100:-1]

'eh'

In [12]:
a[::-1]

'dlrow olleh'

In [13]:
a[::2]

'hlowrd'

# LIST IN PYTHON
list is a data types which holds more than one item and list can be homogeneous and hetrogeneous

In [14]:
a = [1,2,3,4,5,6,7,8] #int list
b = ['a','b','c','d','e','f','g','h'] #char list
print(a,b,sep='\n')
print(type(a),type(b),sep='\n')

[1, 2, 3, 4, 5, 6, 7, 8]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
<class 'list'>
<class 'list'>

In [15]:
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [22]:
d = list(zip(a,b))
print(d)
print(type(d))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g'), (8, 'h')]
<class 'list'>

In [27]:
for var in enumerate(b):
    print(var)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [28]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [29]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [30]:
c.append('python')
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python']

In [31]:
c.append(['cython','mahesh','ajay','rishi','dev'])
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev']]

In [32]:
c.append(('vijay','ajay','koshin'))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin')]

In [37]:
c[-2][2]

'ajay'

In [38]:
c_new = c

In [39]:
print(id(c))
print(id(c_new))

2439177419336
2439177419336

In [41]:
c.append('nisha')
print(c_new)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha']

In [42]:
c_new = c.copy()

In [44]:
print(c)
print()
print(c_new)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha']

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha']

In [45]:
c.append('krishna')
print(c_new)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha']

In [46]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'krishna']

In [47]:
c.clear()

In [50]:
c = c_new.copy()

In [52]:
c.extend('ajay')

In [53]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y']

In [54]:
c.extend(['nothing','anthing','kuchbhi'])
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi']

In [55]:
y = ['nothing','anything','kch bhi']
for var in y:
    print(var)

nothing
anything
kch bhi

In [56]:
c.extend(('yadav','sachin','grras'))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi', 'yadav', 'sachin', 'grras']

In [57]:
u = range(1,11)

In [58]:
c.extend(u)

In [60]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi', 'yadav', 'sachin', 'grras', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
c.count('a')

3

In [64]:
c.index('python')

16

In [65]:
c[16]

'python'

In [66]:
c.insert(1,'ajay')
print(c)

[1, 'ajay', 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi', 'yadav', 'sachin', 'grras', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
c[1] = 'hello'
print(c)

[1, 'hello', 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'python', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi', 'yadav', 'sachin', 'grras', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
c.pop()

10

In [69]:
c.pop()

9

In [70]:
c.pop(1)

'hello'

In [72]:
c.remove('python')

In [74]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], ('vijay', 'ajay', 'koshin'), 'nisha', 'a', 'j', 'a', 'y', 'nothing', 'anthing', 'kuchbhi', 'yadav', 'sachin', 'grras', 1, 2, 3, 4, 5, 6, 7, 8]

In [75]:
c.reverse()
print(c)

[8, 7, 6, 5, 4, 3, 2, 1, 'grras', 'sachin', 'yadav', 'kuchbhi', 'anthing', 'nothing', 'y', 'a', 'j', 'a', 'nisha', ('vijay', 'ajay', 'koshin'), ['cython', 'mahesh', 'ajay', 'rishi', 'dev'], 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a', 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
a = [8,9,5,4,78,5,6,9,78,2,5,6,89,7,5,5,6]

In [77]:
a

[8, 9, 5, 4, 78, 5, 6, 9, 78, 2, 5, 6, 89, 7, 5, 5, 6]

In [78]:
sorted(a)

[2, 4, 5, 5, 5, 5, 5, 6, 6, 6, 7, 8, 9, 9, 78, 78, 89]

In [80]:
a.sort()

In [82]:
a.sort(reverse=True)

In [83]:
a

[89, 78, 78, 9, 9, 8, 7, 6, 6, 6, 5, 5, 5, 5, 5, 4, 2]

# list comprehension

In [84]:
import random

In [91]:
random.randint(1,100)

17

In [92]:
num = [random.randint(1,100) for var in range(100)]
print(num)

[34, 11, 45, 22, 70, 31, 98, 62, 94, 46, 16, 69, 30, 67, 11, 42, 83, 82, 34, 54, 24, 81, 79, 6, 11, 66, 98, 23, 37, 3, 4, 98, 25, 96, 8, 85, 55, 93, 95, 49, 31, 36, 95, 79, 59, 80, 76, 11, 23, 41, 80, 45, 15, 81, 43, 46, 48, 51, 24, 7, 76, 2, 31, 3, 21, 37, 52, 34, 11, 60, 69, 55, 22, 80, 52, 65, 39, 4, 57, 89, 84, 73, 70, 100, 15, 95, 40, 87, 97, 73, 43, 65, 51, 66, 25, 66, 21, 28, 26, 32]

In [93]:
len(num)

100

In [95]:
number = [var for var in range(101)]
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [96]:
i = []
for var in range(101):
    i.append(var)
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [98]:
even= number[::2]
odd = number[1::2]
third = number[3::3] + number[4::4]
print(even,odd,third,sep='\n\n')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [104]:
names  = [input(f'Names = [{counter}] ') for counter in range(1,11)]
print(names)

Names = [1] ajay
Names = [2] sachin
Names = [3] kushal
Names = [4] rajesh
Names = [5] grras
Names = [6] vipul
Names = [7] shubham
Names = [8] ankit
Names = [9] ayush
Names = [10] harsh
['ajay', 'sachin', 'kushal', 'rajesh', 'grras', 'vipul', 'shubham', 'ankit', 'ayush', 'harsh']

In [105]:
name = []
for var in range(4):
    name.append(random.choice(names))

In [106]:
name

['ankit', 'sachin', 'rajesh', 'vipul']

In [112]:
random.choice(names)

'ankit'

In [114]:
num.sort()

In [115]:
print(num)

[2, 3, 3, 4, 4, 6, 7, 8, 11, 11, 11, 11, 11, 15, 15, 16, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 28, 30, 31, 31, 31, 32, 34, 34, 34, 36, 37, 37, 39, 40, 41, 42, 43, 43, 45, 45, 46, 46, 48, 49, 51, 51, 52, 52, 54, 55, 55, 57, 59, 60, 62, 65, 65, 66, 66, 66, 67, 69, 69, 70, 70, 73, 73, 76, 76, 79, 79, 80, 80, 80, 81, 81, 82, 83, 84, 85, 87, 89, 93, 94, 95, 95, 95, 96, 97, 98, 98, 98, 100]

In [118]:
print(*names,sep='\t')

ajay	sachin	kushal	rajesh	grras	vipul	shubham	ankit	ayush	harsh

# DICTIONARY

In [119]:
a = {'name':'python',
     'creator':'guido van rossum',
     'version':3.7,
     'course':'grras'
    }
print(a)

{'name': 'python', 'creator': 'guido van rossum', 'version': 3.7, 'course': 'grras'}

In [120]:
framework ={
    'data_science':['numpy','pandas','matplot','seaborn'],
    'mach_learn':['sckit learn','scipy'],
    'web_dev':['django','flask'],
    'big_d':['spark'],
    'soft':['kiwi','tkinter']
}
print(framework)

{'data_science': ['numpy', 'pandas', 'matplot', 'seaborn'], 'mach_learn': ['sckit learn', 'scipy'], 'web_dev': ['django', 'flask'], 'big_d': ['spark'], 'soft': ['kiwi', 'tkinter']}

In [121]:
a + framework

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [122]:
from pprint import pprint

In [123]:
pprint(framework)

{'big_d': ['spark'],
 'data_science': ['numpy', 'pandas', 'matplot', 'seaborn'],
 'mach_learn': ['sckit learn', 'scipy'],
 'soft': ['kiwi', 'tkinter'],
 'web_dev': ['django', 'flask']}

In [124]:
pprint(a)

{'course': 'grras',
 'creator': 'guido van rossum',
 'name': 'python',
 'version': 3.7}

In [127]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [129]:
li = ['spiderman','blackpanther','avengers','captainamerica','ironman']
l = ['stanlee','ajay','mahesh']
dic = dict.fromkeys(li,l)
print(dic)

{'spiderman': ['stanlee', 'ajay', 'mahesh'], 'blackpanther': ['stanlee', 'ajay', 'mahesh'], 'avengers': ['stanlee', 'ajay', 'mahesh'], 'captainamerica': ['stanlee', 'ajay', 'mahesh'], 'ironman': ['stanlee', 'ajay', 'mahesh']}

In [131]:
a['name']

'python'

In [132]:
a['creator']

'guido van rossum'

In [133]:
a.get('name')

'python'

In [134]:
a.get('version')

3.7

In [135]:
a.items()

dict_items([('name', 'python'), ('creator', 'guido van rossum'), ('version', 3.7), ('course', 'grras')])

In [139]:
for key,value in a.items():
    print(key,value,sep='==')

name==python
creator==guido van rossum
version==3.7
course==grras

In [141]:
a.keys()

dict_keys(['name', 'creator', 'version', 'course'])

In [142]:
framework.values()

dict_values([['numpy', 'pandas', 'matplot', 'seaborn'], ['sckit learn', 'scipy'], ['django', 'flask'], ['spark'], ['kiwi', 'tkinter']])

In [145]:
a.update([('teacher','nikhil'),('grras','python')])
print(a)

{'name': 'python', 'creator': 'guido van rossum', 'version': 3.7, 'course': 'grras', 'teacher': 'nikhil', 'grras': 'python'}

In [147]:
a.pop('grras')

'python'

In [148]:
print(a)

{'name': 'python', 'creator': 'guido van rossum', 'version': 3.7, 'course': 'grras', 'teacher': 'nikhil'}

In [150]:
a.popitem()

('teacher', 'nikhil')

In [154]:
rand = [random.randint(1,100) for var in range(20)]
print(rand)

[27, 24, 2, 95, 53, 30, 47, 42, 67, 95, 86, 19, 18, 33, 55, 60, 55, 32, 14, 79]

In [155]:
len(rand)

20

In [156]:
dic = {}
for var in range(1,11):
    dic.setdefault(var,[])
print(dic)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: []}

In [157]:
di = {}
for var in rand:
    di.setdefault(var,[])
print(di)

{27: [], 24: [], 2: [], 95: [], 53: [], 30: [], 47: [], 42: [], 67: [], 86: [], 19: [], 18: [], 33: [], 55: [], 60: [], 32: [], 14: [], 79: []}

In [158]:
len(di)

18

In [159]:
n = [random.randint(1,1000) for var in range(18)]
print(n)

[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]

In [160]:
len(n)

18

In [164]:
print(n)

[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]

In [166]:
a.items()

dict_items([('name', 'python'), ('creator', 'guido van rossum'), ('version', 3.7), ('course', 'grras')])

In [161]:
for key,value in di.items():
    value.append(n)
    
print(di)

{27: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 24: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 2: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 95: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 53: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 30: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 47: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 42: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 67: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 86: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 19: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 18: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 33: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 55: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 60: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 32: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 14: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]], 79: [[69, 29, 7, 819, 804, 489, 842, 317, 593, 845, 297, 329, 35, 460, 222, 112, 11, 828]]}

In [162]:
pprint(di)

{2: [[69,
      29,
      7,
      819,
      804,
      489,
      842,
      317,
      593,
      845,
      297,
      329,
      35,
      460,
      222,
      112,
      11,
      828]],
 14: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 18: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 19: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 24: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 27: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 30: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 32: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 33: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 42: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 47: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 53: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 55: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 60: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 67: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 79: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 86: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]],
 95: [[69,
       29,
       7,
       819,
       804,
       489,
       842,
       317,
       593,
       845,
       297,
       329,
       35,
       460,
       222,
       112,
       11,
       828]]}