def functionname(parameters):
    st1
    st2
    st3
    return

In [1]:
def greet(name):
    print('hello ' + name + ' Good morning')

In [2]:
greet('sachin')

hello sachin Good morning

In [3]:
def add(x,y):
    return x+y

In [5]:
a = add(7,8)

In [6]:
a

15

In [7]:
u = greet('ajay')

hello ajay Good morning

In [11]:
print(u)

None

In [12]:
def greeting(name):
    print('hello to this world mr/mrs {}'.format(name))
    return 'kuch bhi'
    print('iska koi mtlb nahi hai')

In [14]:
u = greeting('kushal')

hello to this world mr/mrs kushal

In [15]:
print(u)

kuch bhi

In [18]:
add('sacin','python')

'sacinpython'

In [19]:
add([1,2,3,4,5,6],[6,5,4,3,3,2])

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 3, 2]

In [20]:
def star(num):
    for var in range(num+1):
        print('*'*var)

In [21]:
star(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
c = 65
for var in range(8):
    for tar in range(1,var+1):
        print(chr(c),end='')
        c += 1
        if c == 91:
            break
    print()

A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZ

In [34]:
a = 5
def func(x):
    global a
    a = 10 
    return a+a

In [35]:
func(5)

20

In [36]:
print(a)

10

In [45]:
def f(num):
    global n
    s = sum(num)
    n = len(num)
    return s

In [46]:
t= f([1,2,3,4,5,5,6])

In [47]:
t

26

In [49]:
round(t/n,2)

3.71

In [50]:
a = ['ajay','sachin','nikhil','nidhi','ajay','ajay','sachin','nidhi']

In [51]:
a

['ajay', 'sachin', 'nikhil', 'nidhi', 'ajay', 'ajay', 'sachin', 'nidhi']

In [52]:
list(set(a))

['nidhi', 'nikhil', 'ajay', 'sachin']

In [53]:
b = []

In [54]:
for var in a:
    if var not in b:
        b.append(var)

In [55]:
b

['ajay', 'sachin', 'nikhil', 'nidhi']

In [59]:
def fact(nums):
    r = 1
    for var in nums:
        r = r*var
    return r

In [60]:
fact([1,2,3,4,5])

120

In [61]:
def square(nums):
    r = 1
    for var in nums:
        r = r * var
        yield r

In [63]:
q = square([5,4,3,2,1])

In [64]:
q

In [65]:
for var in q:
    print(var)

5
20
60
120
120

In [77]:
w = square([9,8,7,6,5,4,3,2,1])

In [75]:
w

In [68]:
a

['ajay', 'sachin', 'nikhil', 'nidhi', 'ajay', 'ajay', 'sachin', 'nidhi']

In [69]:
print(*a)

ajay sachin nikhil nidhi ajay ajay sachin nidhi

In [70]:
for var in a:
    print(var,end=' ')

ajay sachin nikhil nidhi ajay ajay sachin nidhi

In [71]:
w

In [76]:
print(*w,sep='\n')

9
72
504
3024
15120
60480
181440
362880
362880

In [78]:
next(w)

9

In [79]:
next(w)

72

In [80]:
next(w)

504

In [82]:
next(w)

3024

In [83]:
next(w)

15120

In [84]:
next(w)

60480

In [85]:
next(w)

181440

In [86]:
next(w)

362880

In [87]:
next(w)

362880

In [88]:
next(w)

StopIteration:

In [96]:
def add_sub(x,y):
    r = x+y
    b = x-y
    return r,b

In [97]:
add_sub(9,8)

(17, 1)

In [98]:
r,t = add_sub(7,6)

In [99]:
r

13

In [100]:
t

1

In [90]:
def ucount(values):
    b = []
    for var in values:
        if var not in b:
            b.append(var)
    return b

In [91]:
ucount(a)

['ajay', 'sachin', 'nikhil', 'nidhi']